<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="allfile" fileName="log/nloginfo.log"
            archiveFileName="log/nloginfo.{#}.log" archiveNumbering="Rolling" archiveAboveSize="3000000"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File" name="errorfile" fileName="log/nlogerror.log"
            archiveFileName="log/nlogerror.{#}.log" archiveNumbering="Rolling" archiveAboveSize="3000000"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url:IncludeQueryString=true}|method: ${aspnet-request-method}|body: ${aspnet-request-posted-body}" />
    
    <target xsi:type="Database" name="database" dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data">
      <connectionString>Data Source=localhost;port=3306;Initial Catalog=mytest;user id=root;password=admin123;Charset=utf8</connectionString>
      <!--
      Script for creating the dbo.Log table.
      
      CREATE TABLE LogInfo (
	      Id int AUTO_INCREMENT NOT NULL,
	      MachineName varchar(50),
	      Url varchar(400),
	      Method varchar(50),
	      ContentType varchar(50),
	      PostBody text,
	      Logged datetime,
	      Level varchar(5),
	      Message varchar(1000),
	      Logger varchar(250),
	      Callsite text,
	      Exception text,
        PRIMARY KEY (Id)
      )
      -->      
      <commandText>
        insert into LogInfo (
          MachineName, Logged, Level, Message, Url, Method, ContentType, PostBody,
          Logger, Callsite, Exception
        ) values (
          @MachineName, @Logged, @Level, @Message, @Url, @Method, @ContentType, @PostBody,
          @Logger, @Callsite, @Exception
        );
      </commandText>
      <parameter name="@MachineName" layout="${machinename}" />           
      <parameter name="@Logged" layout="${date}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Callsite" layout="${callsite}" />
      <parameter name="@Exception" layout="${exception:tostring}" />
      <parameter name="@Url" layout="${aspnet-request-url:IncludeQueryString=true}" />
      <parameter name="@Method" layout="${aspnet-request-method}" />
      <parameter name="@ContentType" layout="${aspnet-request-contenttype}" />
      <parameter name="@PostBody" layout="${aspnet-request-posted-body}" /> 
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <!-- BlackHole without writeTo -->
    <logger name="*" minlevel="Error" writeTo="errorfile,database" />
  </rules>
</nlog>